	html, body {
	  height: 100%;
	}
	header {
		height: 100px;
		background: #464B94;
		background: -webkit-linear-gradient(#9194C0, #53589A);
		background: -moz-linear-gradient(#9194C0, #53589A);
		background: -ms-linear-gradient(#9194C0, #53589A);
		background: -o-linear-gradient(#9194C0, #53589A);
		background: linear-gradient(#9194C0, #53589A);
	}

	ul.navigation-links{
		height: 20px; 
		padding: 10px;
		margin: 0px;
		background: #775B72;
	}
	ul.navigation-links > li{
		position: relative;
		float: left;
		list-style: none;
		display: block;
		width: 100px;
		height: 20px; 
		text-align: center;
		padding: 10px;
		margin: 0px;
		left: -10px;
		top: -10px;
	}
	ul.navigation-links-vertical
	{
		display: none;
		background: #775B72;
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
	}
	ul.navigation-links-vertical > li{
		list-style: none;
		display: block;
		padding: 10px;
		margin: 0px;
		height: 20px;
		width: 100px;
		overflow: visible;
	}
	ul.navigation-links > li:hover > ul.navigation-links-vertical
	{
		display: block;
	}

	.page-wrap:before {
	  /* .push must be the same height as footer */
	  height: 140px; 
	}
	footer.site-footer, .page-wrap:after {
	  /* .push must be the same height as footer */
	  height: 50px; 
	}
	footer.site-footer {
	 background: #464B94;
		background: -webkit-linear-gradient(#9194C0, #53589A);
		background: -moz-linear-gradient(#9194C0, #53589A);
		background: -ms-linear-gradient(#9194C0, #53589A);
		background: -o-linear-gradient(#9194C0, #53589A);
		background: linear-gradient(#9194C0, #53589A);
		text-align: center;
		position: relative;
	}

	article.page-wrap {
	  min-height: 100%;
	  /* equal to footer height */

	  min-width: 800px;
	  width: 90%;
	  margin-left: auto;
	  margin-right: auto;
	  margin-bottom: -50px; 
	  margin-top: -140px;
	}

	article.page-wrap:after, article.page-wrap:before {
	  content: "";
	  display: block;
	}

	article.page-wrap:after {
	  background: url(ventas-celulares.jpg);
	  opacity: 0.3;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  bottom: 0;
	  right: 0;
	  position: absolute;
	  z-index: -1;   
	}

	div.site-logo{
		float: left;
		margin: 10px 10px 10px 10px;
		width: 60px;
		height: 60px;
		background: url(celulares.jpeg) 0px 0px no-repeat;
		background-size: contain;
	}


	div.site-description{
		float: left;
		margin: 10px 10px 10px 10px;
		width: 500px;
		height: 60px;
	}

	div.site-header-container{
		width: 800px;
		height 100px;
		margin: 0px auto;
		font-size: 30px;
		vertical-align: middle;
	}
	.menu-item
	{
		text-decoration: none;
		display: block;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		font-weight: bold;
		color: black;
	}
	h1{
		font-size: 20px;
		margin: 10px;
		font-weight: bold;
		color: black;
	}
	h2{
		font-size: 18px;
		margin: 10px;
		font-weight: bold;
		color: black;
	}
	h3{
		font-size: 16px;
		margin: 10px;
		font-weight: bold;
		color: black;
	}
	img.cell-image
	{
		float: right;
		margin: 10px;
	}
	div.field-container
	{
		position: relative;
	}
	label.label-field
	{
		vertical-align: top;
		display: block;
		width: 80px;
	}
	textarea.mensaje
	{
		width: 500px;
		height: 250px;
	}
	div.contact
	{
		width: 800px;
		height: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -10px 0px 0px -400px;		
	}

	img.cellimage
	{
		float: left;
	}